.element_heading, .location, .date, .web {
padding-left: 30px;
margin-bottom: 10px;
line-height: 1.4285;
}

.element_heading {
  color: #0B4DC7;
}

.web {
  color: #269BF0;
}

.element_text {
  padding-left: 30px;
  margin-bottom: 30px;
  color: grey;
  font-family: 'Open Sans';
}
